.main_div{
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.tranfer_active_code{
	width: 92%;
	height: 90%;
	background-color: white;
	border-radius: 10px;
	padding-top: 50px;
	margin: 0 auto;
}

.tranfer_content{
	margin-left: 10%;
}

.tranfer_content input{
	display: inline;
	margin-left: 10px;
	border: 1px solid #333;
	padding: 5px;
	width: 60%;
	font-size: 4vw;
}

.tranfer_user_name{
	margin-top: 20px;
}

.tranfer_amount{
	margin-top: 20px;
}
